 th#barcode{
     text-align: left!important;
     width: 12ch;
}
.sjkdhshr75 {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
div#pbrtab-content a {
    font-weight: 600;
    color: #03A9F4;
}
.qrc_pro_ftcs_cont img {
    width: 100%;
}
.com-md-4.lksfuieusb {
    padding: 17px;
    max-width: 38%;
    margin: 18px 10px;
    border-radius: 10px;
    background: #d0edaf;
}
tr.parcode_madeby th,tr.orders_types th,tr.orders_mail_product th,tr.pdfshoes_types th,tr.orders_pdf_product th {
    color: #E91E63;
}
li.txtaligndisplay strong {
    padding-right: 25px;
}
li.txtaligndisplay {
    margin-top: 13px;
}
.clearfix:after,
.dl-horizontal dd:after,
.row:before,
.row:after{
  clear: both;
    display: table;
  content: " ";
}
.container {
  margin-right: auto;
  margin-left: auto;
  width:100%;
}
.row {
width:100%;
}
  .col-md-6 {
    width: 46%;
  }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
    margin-right: 15px;
  margin-left: 15px
}
li.qrc_pro-colum.ffg img {
    width: 430px;
}
.product-barcode-generator-pro-features li {
    list-style: none;
}
tr.orders_page_orbarcode p,tr.pdfshoes_types p, tr.orders_pdf_product p, tr.pbarcode_widths p, tr.orderbar_height p, tr.orders_types p, tr.barcode_print_css_labess p, tr.pbarcode_values p, tr.orders_mail_product p, tr.orders_page_product p, tr.barcode_print_css_labe p, tr.parcode_labeltaxonmy p, tr.parcode_titcolor p, tr.parcode_madeby p, tr.parcode_height p, tr.parcode_width p, tr.parcode_tye p, tr.parcode_vakus p, tr.parcode_format p, tr.parcode_hidemobi p{
     max-width: 77%;
     font-weight: normal;
     color: #818181;
}
 .pbrmetaperid {
     display: flex;
     padding-top: 5px;
     justify-content: space-between;
}
 svg#Probarcode_metabox {
     max-width: 100%;
}
.pbrprice_print del {
    margin-right: 4px;
}
 .pbrfancyLoaderCss {
     height: 1em;
     width: 1em;
     display: block;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-left: 3em;
     margin-top: -.5em;
     content: "";
     -webkit-animation: spin 1s ease-in-out infinite;
     animation: spin 1s ease-in-out infinite;
     background: url(../img/fancyloaders.svg) center center;
     background-size: cover;
     line-height: 1;
     text-align: center;
     font-size: 2em;
     color: red;
}
 @-webkit-keyframes spin {
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
    }
}
 @keyframes spin {
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
    }
}
 .qrcsubmits span.dashicons.dashicons-cloud-saved,.barcodesubmits span.dashicons.dashicons-cloud-saved {
     font-size: 23px;
     vertical-align: text-bottom;
     color: #fafafa;
     margin-right: 7px;
}
img#pbrimageselct1 {
    vertical-align: middle;
    margin-right: 15px;
    max-width: 66px;
}
 ul.pbrdocs {
     display: flex;
     justify-content: center;
     align-items: center;
}
 tr.printdownloadprem,tr.premiumexpanfera{
     display:none;
}
 tr.premiumfeatisdgjsj th {
     color:#2196F3;
}
.pbrtwontm li:first-child {
     margin-right: 18px;
}
 button.button.button-secondary.qrc_brtjhif a {
     font-size: 16px;
     color: #323232;
}
 .product-barcode-generator-pro-features .service-list ul.qr-pro-deisgn .pbrtwontm{
     margin: 0;
     padding: 0;
     display: flex;
     list-style: none;
}
 div#pbrbarcometabinov,#lpreviewwrap{
     display:none;
}
 .loaderpsd {
     letter-spacing: 6px;
     height: 100px;
     background: #ddd;
     text-align: center;
     display: block;
     width: 219px;
     line-height: 100px;
}
 .pabrdigit label {
     padding-right: 10px;
     font-weight: 600;
}
 select#pbar_madebyposition {
     margin-left: 10px;
}
 div#lpreviewwrap {
     position: sticky;
     top: 40px;
}
 span#docsides {
     border-radius: 3px;
     background: #e1f6ff;
     position: relative;
     text-decoration: none;
     font-size: 22px;
     color: #0394d3;
     width: 30px;
     height: 100%;
     padding: 2px;
     border: 1px solid #9ad8f9;
}
 option.pbrpremumsd {
     color: red;
}
 ul.master_barcode.djhfdhfuh {
     padding: 0 10px;
}
 span#madebytbtmsswrap {
     position: relative;
     padding-bottom: 5px;
     display: inline-block;
     top: -4px;
}
 .pbrbarcodetitrlshdgh {
     padding-top: 4px;
     display: flex;
     justify-content: space-between;
}
 input#qr_print_fontfamilyown,input#barcode_label_fontfamiown {
     margin-left: 39%;
     margin-top: 13px;
}
 ul.pbrdocs li {
     margin-right: 25px;
}
 a.inlinedocs {
     display: inline-block;
     margin-left: 15px;
}
 .videopopupjs {
     background-color: #000;
     background-color: rgba(0, 0, 0, 0.6);
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 99999;
     text-align: start !important 
}
 .videopopupjs--hide {
     -webkit-animation-duration: 0.2s;
     animation-duration: 0.2s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
     -webkit-animation-name: videoPopupJsHide;
     animation-name: videoPopupJsHide 
}
 .videopopupjs__close {
     float: right;
     width: 30px;
     height: 30px;
     cursor: pointer;
     display: block;
     margin-bottom: 10px;
     color: rgba(255, 255, 255, 0.59) 
}
 .videopopupjs__close:after {
     width: 30px;
     height: 30px;
     display: block;
     text-align: center;
     content: 'X';
     font-family: 'Verdana';
     border-radius: 50%;
     background: #333;
     line-height: 2.2;
     font-size: 13px 
}
 .videopopupjs__close:hover {
     opacity: 0.5 
}
 .videopopupjs--animation {
     opacity: 0;
     -webkit-animation-duration: 0.2s;
     animation-duration: 0.2s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
     -webkit-animation-name: videoPopupJs;
     animation-name: videoPopupJs 
}
 .videopopupjs__content {
     margin: 0 auto;
     height: 100%;
     height: 500px;
     width: 100%;
     margin-top: 5% 
}
 .videopopupjs__content iframe {
     width: 100%;
     height: 100% 
}
 .videopopupjs__block--notfound {
     position: absolute;
     top: 0;
     bottom: 0;
     margin: auto 0;
     width: 100%;
     height: 500px;
     background-color: #fff;
     text-align: center;
     vertical-align: middle;
     line-height: 500px;
     font-size: 20px 
}

 @-webkit-keyframes videoPopupJs {
     0% {
         opacity: 0 
    }
     100% {
         opacity: 1 
    }
}
 @keyframes videoPopupJs {
     0% {
         opacity: 0 
    }
     100% {
         opacity: 1 
    }
}
 @-webkit-keyframes videoPopupJsHide {
     0% {
         opacity: 1 
    }
     100% {
         opacity: 0 
    }
}
 @keyframes videoPopupJsHide {
     0% {
         opacity: 1 
    }
     100% {
         opacity: 0 
    }
}
 .pro-colum {
     box-shadow: 1px 1px 13px #cecece;
     background: #fff;
     flex: 0 0 47%;
     margin: 10px;
     text-align: center;
}
 .pro-colum h3 {
     font-weight: 700;
}
 .product-barcode-generator-pro-features {
     margin: -10px 0 0 -23px;
}
 li.qrc_pro-descrio ul {
     margin-left: 30px;
     list-style: disc;
}
 .pbar_dashboard_wrap section#sect_tabset_0_0 {
     padding-left: 37px;
}
 a.printlive {
     margin-left: 10px;
     display: inline-block;
     text-transform: capitalize;
     font-weight: normal;
     background: #8BC34A;
     padding: 6px 17px;
     border-radius: 50px;
     font-size: 16px;
     color: #fff;
     text-decoration: none;
}
 li.qrc_pro-colum img {
     //width: 100%;
}
 li.qrc_pro-descrio ul li label {
     cursor: auto;
}
 .product-barcode-generator-pro-features .section-title {
     text-align: center;
     color: #2e2c2c;
     font-size: 30px;
     line-height: 1.5em;
     font-weight: 400;
     position: relative;
     margin: 0 0 58px;
}
 .product-barcode-generator-pro-features .section-title:after {
     content: "";
     position: absolute;
     bottom: -21px;
     left: 50%;
     transform: translateX(-50%);
     width: 38px;
     height: 5px;
     border-radius: 3px;
     background-color: #f2624d;
}
 .product-barcode-generator-pro-features .header-section {
     margin-top: 4%;
     background-color: #ffffff;
     color: #3f4143;
     font-size: 16px;
     display: flex;
     align-items: center;
     padding: 1px 15%;
     border-bottom: 1px solid #eee;
}
 .product-barcode-generator-pro-features .header-section .feature-thumb img {
     width: auto;
}
 .product-barcode-generator-pro-features .header-section .content-area {
     padding-left: 10%;
}
 .product-barcode-generator-pro-features .header-section .content-area h1 {
     font-weight: 700;
     font-size: 27px;
     line-height: 1.5em;
     color: #E91E63;
}
 .product-barcode-generator-pro-features .header-section .content-area p {
     font-size: 16px;
     line-height: 1.5em;
     font-weight: 300;
     margin: 0;
     letter-spacing: .5px;
}
 .product-barcode-generator-pro-features .pro-colum p {
     padding: 10px 10%;
}
 .product-barcode-generator-pro-features .service-section {
     padding: 73px 0px 85px;
}
 li.qrc_pro-colum {
     text-align: center;
     width: 100%;
}
.service-list h3 {
    font-size: 27px;
    text-align: center;
}
.service-list p {
    font-size: 16px;
    padding: 10px 20px;
}
 .product-barcode-generator-pro-features .pro-colum img, .product-barcode-generator-pro-features .payment-section img {
     width: 100%;
     height: auto;
}
 .qr-pro-deisgn:nth-child(odd) {
     background: #e5e5e5;
}
 li.qrc_pro-descrio a {
     text-decoration: none;
}
 .product-barcode-generator-pro-features .payment-section.life_time {
     margin: 3% 0;
     display: flex;
     background: linear-gradient(45deg, #673AB7 33%, #E91E63 100%);
     justify-content: space-between;
     padding: 20px 4%;
     align-items: center;
}
 a.pro-tav.nav-tab {
     font-weight: 700;
}
 .product-barcode-generator-pro-features .cta-section {
     background-image: linear-gradient(45deg, #d05249 33%, #9C27B0 100%);
     background-repeat: no-repeat;
     background-position: 50%;
     background-size: contain;
     text-align: center;
     padding: 35px 75px 40px;
     color: #fff;
}
 .product-barcode-generator-pro-features .cta-section img {
     width: 60px;
}
 .product-barcode-generator-pro-features .cta-section h2 {
     font-size: 30px;
     color: #fff;
     font-weight: 400;
     line-height: 1.333em;
     text-align: center;
     margin: 10px 0;
     text-shadow: 0 1px 2px hsla(0, 0%, 100%, .31);
}
 .product-barcode-generator-pro-features .cta-section p {
     font-size: 16px;
     line-height: 1.5em;
     font-weight: 300;
     margin: 10px 0 30px;
}
 .payment-area a {
     margin-bottom: 30px;
}
 .product-barcode-generator-pro-features .cta-section .btn, .payment-area a {
     background-color: #fff;
     color: #f2624d;
     font-size: 16px;
     line-height: 1.538em;
     border: 1px solid #ff9381;
     border-radius: 3px;
     box-shadow: 0 1px 2px 0 rgba(255, 128, 142, .05);
     display: inline-block;
     text-decoration: none;
     padding: 12px 27px;
}
 .product-barcode-generator-pro-features .cta-section .btn svg {
     width: 15px;
     fill: #f2624d;
     margin-left: 6px;
}
li.qrc_pro-descrio h3 {
    text-align: left;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 20px;
}
.service-list p {
    color: #000;
}
 li.qrc_pro-descrio {
     width: 100%;
     padding: 0 30px;
}
 li.qrc_pro-descrio p {
     font-size: 17px;
}
.gapsa {
    width: 100%;
    height: 100px;
}
.pbrtwontm a {
    display: inline-block;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 20px;
    background: #673AB7;
    color: #ffffff;
    margin-top: 10px;
	transition:all 0.3s ease;
}
.pbrtwontm a:hover{
	opacity:0.9
}
 ul.qr-pro-deisgn {
     padding: 3%;
     background: #fff;
     display: flex;
     align-items: center;
}
 .pro-colum {
     box-shadow: 1px 1px 13px #cecece;
     background: #fff;
     flex: 0 0 45%;
     margin: 2.2%;
     text-align: center;
}
 div#pro_barqr_print_wrapepr img {
     max-width: 100%;
}
 .pdfejdf {
     display: flex;
     align-items: center;
}
 .pdfejdf img {
     width: 50px;
}
 a.activetheplugin {
     color: #fff;
     background: #0072ff;
     display: inline-block;
     margin-left: 13px;
     padding: 7px;
     border-radius: 4px;
     text-decoration: none;
}
 img.imageselct {
     border: 1px solid #b9b9b9;
     width: 200px;
     position: absolute;
     right: 10%;
     box-shadow: 1px 1px 10px #d1d1d1;
     display:none;
}
 a.pbgenetro_dash_strat i {
     color: #ff7804;
}
 div#pro_barqr_print_wrapepr li {
	 width:100%;
     margin-top: 5px;
     margin-bottom: 7px;
     list-style: none;
}
 #footer_pbrgrnrtaor span.dashicons-smiley, #klykouyght span.dashicons-smiley {
     background: #fdfdfd;
     border: 1px solid;
     color: #0043bd;
     border-radius: 50%;
     padding: 0;
     font-size: 15px;
     line-height: 18px;
}
 div#klykouyght {
     padding-left: 20px;
     color: #fff;
     padding-bottom: 10px;
}
 div#klykouyght a{
     color: #fff;
}
 ul.viewpridinbg {
     margin: 3% 0;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .parccintr span{
    color:#848484
}
p.pbar_variation_ntc span.dashicons.dashicons-grid-view{
    color:#2275b3;
    font-size:16px;
    line-height:23px
}
p.pbar_variation_ntc{
    padding:8px;
    border-left:4px solid #d3f95e;
    padding-left:10px;
    background:#eaf9df
}
p.pbar_variation_ntc a{
    color:#769c00
}
.qrc_nav_bradn_value ul li:nth-of-type(odd),.pbar_freeftcs_cont ul li{
    background-color:rgba(0,0,0,.05);
     padding: 10px;
}
.qrc_nav_bradn_value ul li:before,.pbar_freeftcs_cont ul li:before{
    margin-right:14px;
    font-family:dashicons;
    content:"\f12a";
    color:#00bf00
}
 ul.viewpridinbg li {
     margin: 0 10px;
     background: rebeccapurple;
}
 ul.viewpridinbg li a {
     text-align: center;
     display: inline-block;
     text-decoration: none;
     color: #fff;
     padding: 10px 50px;
     font-weight: 600;
}
 ul.viewpridinbg li a:hover{
     box-shadow:1px 1px 10px #3a3a3a;
}
 h4.pbar_ftcs__h {
     font-size: 20px;
}
 .pbar_freeftcs_cont li {
     font-size: 17px;
     margin-top: 20px;
}
 .pbar_freeftcs_cont ul li img{
    box-shadow:1px 1px 7px #6b6b6b;
    width:auto
}
img.pbrdemobarcoes {
    width: 100%;
}
.pbar_freeftcs_cont{
    border:2px solid #ccc;
    padding:10px 10px 0 10px
}
 p.Rgtddfdfd {
     width: 50%;
}
 .pbrmetaboxs label {
     vertical-align: top;
}
 .download_Pbar_conwrap .dashicons {
     vertical-align: middle;
}
 .pbrmetaboxs {
     margin: 10px 0;
}
 div#pro_barqr_print_wrapepr {
     padding: 0 11px;
     display: inline-block;
     list-style: none;
     text-align: center;
     font-family: sans-serif;
     margin: 8px auto;
}
 .download_Pbar_conwrap{
     margin-top: 16px;
     margin-bottom: 10px;
     display: flex;
     align-items: center;
}
 tr.parcode_hpremium th,tr.parcode_hpremium em{
     color: #0484ab;
}
 #barcode_label_fontfamiown, #qr_print_fontfamilyown {
     display: none;
}
 span.nuremics, span.nuremstatics, span.en13info, span.en8info, span.upcinfo {
     font-style: italic;
     position: relative;
     color: #686868;
     display: block;
     top: 10px;
}
 input.pbarfrntdhsjtr, input.pbarfrntdhsjtr:disabled {
     background: #dddddd;
     border-color: #8f8f8f;
     color: #1e1e1e;
     text-align: center;
}
 ul.pmadebyids {
     margin-top: 22px;
}
 ul.br_per_page label {
     display: inline-block;
     min-width: 125px 
}
 input.qrc-bgcolor-picker {
     width: 82px;
}
 ul.br_per_page li {
     margin-bottom: 22px;
}
 tr.parcode_prev_manag td {
     position: absolute;
     right: 0;
     top: 86px;
}
 .parcode_prev_manag {
     margin-right: 25px;
     position: sticky;
     top: 40px;
}
 ul.tctdisplblockin {
     padding-top: 10px;
}
 ul.br_per_page {
     margin: 0;
}
 span#prdemoslider4, span#prdemoslider3 {
     min-width: 40px;
     display: inline-block;
     text-align: center;
     font-weight: 700;
}
 table.pbartableclass thead tr th, table.pbartableclass td {
     text-align: center;
}
 div#pbarcode_print_page {
     padding: 20px;
     overflow: hidden;
}
 div#pbarcode_print_page p {
     font-size: 15px;
}
 span.pbarc-vart {
     padding-left: 4px;
}
 li.qr_price_print ins {
     text-decoration: none;
}
 li.qr_price_print del {
     color: #858585;
}
 p.pbar_variation_ntc span.dashicons.dashicons-grid-view {
     color: #2275b3;
     font-size: 16px;
     line-height: 23px;
}
 p.pbar_variation_ntc {
     padding: 8px;
     border-left: 4px solid #d3f95e;
     padding-left: 10px;
     background: #eaf9df;
}
 input.whmc_pbrapple-switch {
     position: relative;
     -webkit-appearance: none;
     outline: none;
     width: 62px;
     height: 23px;
     background: #fff;
     border: 1px solid #636363;
     border-radius: 50px;
     box-shadow: inset -20px 0 0 0 #fff;
     transition: all 0.2s ease;
}
 input.whmc_pbrapple-switch:focus, input.whmc_pbrapple-switch:active {
     border-color: #636363;
     box-shadow: 0 0 0 1px #fff;
}
 input.whmc_pbrapple-switch:after {
     border: 1px solid #777;
     content: "";
     position: absolute;
     top: 0;
     left: -1px;
     background: #fff;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     box-shadow: 2px 4px 6px rgb(0 0 0 / 57%);
     transition: all 0.2s ease;
}
 input.whmc_pbrapple-switch:checked {
     box-shadow: inset 22px 0 0 0 #0085ba;
     border: 2px solid #205a71;
     background: #0085ba;
     transition: all 0.2s ease;
}
 input.whmc_pbrapple-switch:checked:after {
     left: 37px;
     top: -2px;
     box-shadow: -2px 4px 3px rgb(29 29 29 / 62%);
}
 table.pbartableclass img.attachment-thumbnail.size-thumbnail.wp-post-image {
     width: 87px;
     height: auto;
}
 table.pbartableclass, table.pbartableclass td, table.pbartableclass th {
     border: 1px solid rgba(0, 0, 0, .1);
}
 table.pbartableclass {
     border-collapse: separate;
     border-spacing: 0;
     border-width: 1px 0 0 1px;
     margin: 0;
     padding: 0;
     width: 100%;
}
 table.pbartableclass tr {
     background-color: #f8f8f8;
     border: 1px solid #ddd;
     padding: .35em;
}
 table.pbartableclass th, table.pbartableclass td {
     padding: .625em;
     text-align: center;
}
 table.pbartableclass th {
     font-size: .85em;
     letter-spacing: .1em;
     text-transform: uppercase;
}
 @media screen and (max-width: 600px) {
     table.pbartableclass {
         border: 0;
    }
     table.pbartableclass thead {
         border: none;
         clip: rect(0 0 0 0);
         height: 1px;
         margin: -1px;
         overflow: hidden;
         padding: 0;
         position: absolute;
         width: 1px;
    }
     table.pbartableclass tr {
         border-bottom: 3px solid #ddd;
         display: block;
         margin-bottom: .625em;
    }
     table.pbartableclass td {
         border-bottom: 1px solid #ddd;
         display: block;
         font-size: .8em;
         text-align: right;
    }
     table.pbartableclass td::before {
        /* * aria-label has no advantage, it won't be read inside a table content: attr(aria-label);
         */
         content: attr(data-label);
         float: left;
         font-weight: bold;
         text-transform: uppercase;
    }
     table.pbartableclass td:last-child {
         border-bottom: 0;
    }
}
 div#loadmore_container {
     margin-bottom: 50px;
}
 #loadmoreDownlaod, #loadmorePbarPrint, .pbarcodebtnprint {
     display: inline-block;
     outline: none;
     padding: 10px 20px;
     line-height: 1.4;
     background: #3f51b5;
     transition: all .3s;
     text-decoration: none;
     border-radius: 4px;
     color: #ffffff;
     position: relative;
     transition: padding-right .3s ease;
     font-weight: 700;
     cursor: pointer;
}
 #loadmoreDownlaod:hover, #loadmorePbarPrint:hover {
     transform: translateY(-1px);
     box-shadow: 2px 1px 20px 4px rgb(0 0 0 / 30%);
}
 #loadmoreDownlaod.spinning, #loadmorePbarPrint.spinning {
     padding-right: 40px;
}
 #loadmoreDownlaod.spinning:after, #loadmorePbarPrint.spinning:after {
     content: '';
     position: absolute;
     right: 6px;
     top: 50%;
     width: 0;
     height: 0;
     box-shadow: 0px 0px 0 1px darken(#212121, 10%);
     position: absolute;
     border-radius: 50%;
     animation: rotate360 .5s infinite linear, exist .1s forwards ease;
}
 #loadmoreDownlaod.spinning:before, #loadmorePbarPrint.spinning:before {
     content: "";
     width: 0px;
     height: 0px;
     border-radius: 50%;
     right: 6px;
     top: 50%;
     position: absolute;
     border: 2px solid darken(#212121, 40%);
     border-right: 3px solid #fff;
     animation: rotate360 .5s infinite linear, exist .1s forwards ease;
}
 div#prbnoproduct {
     font-size: 18px;
     width: 100%;
     padding-top: 10px;
     position: absolute;
     transform: translate(-50%, -50%);
     left: 50%;
     top: 50%;
}
 @keyframes rotate360 {
     100% {
         transform: rotate(360deg);
    }
}
 @keyframes exist {
     100% {
         width: 15px;
         height: 15px;
         margin: -8px 5px 0 0;
    }
}
 div#pbarcowp_hdaer_Wrap_djkfh {
     position: relative;
}
 .pbarcodeautono {
     padding: 5px 10px;
     display: inline-block;
     border: 1px solid #848484;
}
 tr.parcode_prev_manag th {
     display: none;
}
 tr.parcode_prev_manag ul, tr.parcode_prev_manag ul li {
     padding: 0;
     margin-bottom: 3px;
}
 span#prdemoslider, span#prdemoslider1, span#prdemoslider2 {
     width: 26px;
     display: inline-block;
     font-weight: 700;
}
 label.prbaclabel {
     display: inline-block;
}
 .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 25px;
     height: 25px;
     background: #006799;
     cursor: pointer;
     border-radius: 100%;
     border: 1px solid #006799;
}
 .slider::-moz-range-thumb {
     width: 25px;
     height: 25px;
     background: #006799;
     cursor: pointer;
     border-radius: 100%;
     border: 1px solid #4CAF50;
}
 tr.pbgnr_capabily_table {
    /* justify-content: center;
     */
     display: flex;
     align-items: center;
}
 h3.pbgnr_capabily {
     color: #673ab7;
     display: inline-block;
}
 .pbarcode_cpabil_wrap {
     background: #fff;
     padding-left: 10px;
     margin: 10px 0;
}
 #download_Pbar_con {
     margin-right: 22px;
}
 li.qr_title_print, li.qr_price_print {
     padding: 0 10px;
}
 button#printButton, button.button.nyshbytn {
     margin-right: 20px;
     color: #fff;
     background: #007cba;
     border-color: #007cba;
}
 p.wcplugin_active {
     text-transform: capitalize;
     padding: 10px;
     border-left: 5px solid red;
     background: #efd1d1;
     padding-left: 10px;
     font-size: 14px;
     font-weight: 600;
}
 .pbarcowp_hdaer_Wrap input[type="text"]::placeholder {
     color: #b5b5b5;
     font-style: italic;
}
 select#qr_print_product_ty {
     display: none;
}
 ul.qrc_metaoutput_wrap {
     display: flex;
     align-items: center;
}
 div#qrcmeta-Output {
     margin-left: 40px;
}
 button.uqr_code_btn {
     cursor: pointer;
     font-weight: 600;
     border: 1px solid transparent;
     padding: 6px 0;
     margin-top: 12px;
}
 ul.qr_list_wra {
     justify-content: flex-start;
     display: flex;
     align-items: center;
}
 .pbarcowp_hdaer_Wrap_menu {
     clear: both;
}
 .pbarcowp_hdaer_Wrap_menu li a {
     color: #000;
     border-top: 2px solid #f1f1f1;
     font-size: 15px;
     padding: 11px 12px;
     padding-bottom: 10px;
     margin-bottom: 0;
     float: left;
     text-align: center;
     cursor: pointer;
     list-style: none;
     margin-right: 4px;
     font-weight: 500;
     text-decoration: none;
     outline: 0;
}
 .pbarcowp_hdaer_Wrap_menu li a:focus {
     border-bottom: none;
     border-right: none;
     border-left: none;
     border-top: 2px solid #673AB7;
     box-shadow: none;
}
 .pbarcowp_hdaer_Wrap_menu li.hover {
     background: #DFDFDF;
}
 .pbarcowp_hdaer_Wrap_menu li a.selected-active {
     border-top: 2px solid;
     color: #673AB7;
     background: #ffffff;
}
 .pbarcowp_hdaer_Wrap_box {
     clear: both;
     background: #fff;
     padding: 20px 22px;
}
 .hide {
     display: none 
}
 .pbarcowp_hdaer_cnt li {
     display: inline-block;
}
 .pbarcowp_admin small {
     color: #808080;
     font-weight: 300;
     font-size: 14px;
}
 ul.pbarcowp_hdaer_cnt li h3 {
     margin-bottom: 9px;
}
 li.qrc_fd_cnt {
     margin-left: 16px;
}
 li.qrc_fd_cnt h3 {
     font-size: 23px;
}
 div.pbar_dashboard_wrap th {
     min-width: 300px;
     font-size: 15px;
}
 li.qrc_fd_cnt sup {
     padding-left: 10px;
     font-size: 12px;
}
 ul.pbarcowp_hdaer_cnt {
     margin: 0;
     padding-left: 20px;
     display: flex;
     align-items: center;
}
 a#pbr-number {
     margin: 0px 10px;
}
 .pabrdigit {
     margin-top: 18px;
}
 .pbarcowp_admin {
     margin: 0;
     position: relative;
}
 ul#pbrtabs-nav li.active a:focus,ul#pbrtabs-nav li a:focus{
     outline: none;
     box-shadow:none;
}
 .pbar_dashboard_wrap table tr {
     border-bottom: 1px solid #ddd;
}
 ul#pbrtabs-nav {
     display: flex;
     list-style: none;
     margin: 0;
     padding: 11px;
     overflow: auto;
     background-color: #ffffff;
     border-radius: 6px;
     margin-bottom: 40px;
}
 ul#pbrtabs-nav li {
     padding-left: 15px;
     margin: 15px 0;
}
 ul#pbrtabs-nav li:first-child {
     padding-left: 0px;
}
 ul#pbrtabs-nav li a {
     color: #000;
     background: #f1f1f1;
     font-size: 15px;
     padding: 11px 12px;
     padding-bottom: 10px;
     text-align: center;
     cursor: pointer;
     list-style: none;
     margin-right: 4px;
     font-weight: 500;
     text-decoration: none;
     outline: 0;
     transition: all 0.3 ease;
}
/* Tabs */
 #pbrtab-content > div {
     display:none;
}
 #pbrtab-content > div.active {
     display:block;
}
 ul#pbrtabs-nav li.active a {
     color: #0386bb;
     background-color: #e1f6ff;
}
.contnhead h2 {
    font-size: 35px;
}
.pbrtwontm a {
    text-decoration: none;
}
.contnhead {
    text-align: center;
}
 div#pbrtab-content {
     border-radius: 6px;
     padding: 17px 34px 60px 39px;
     background: #fff;
	 display:none;
}
 span#rxpandpremiuprint, span#rxpandpremishort {
     cursor: pointer;
     color: #4a4a4a;
     padding-left: 10px;
     font-size: 12px;
}
 .comwrapers {
     justify-content: space-between;
     display: flex;
}
 .com-md-8 {
     max-width: 60%;
}
 .com-md-4 {
     max-width: 30%;
}
 .qrcsubmits {
     padding-left: 0;
     background: #fff;
     padding: 6% 0 6% 0;
}
 span.qrcintegrates_djkfhjhj .dashicons.dashicons-saved {
     font-size: 30px;
     color: #2d5998;
     font-weight: 600;
}
 button#pbrosiudi {
     position:relative;
     cursor: pointer;
     box-shadow: 1px 7px 13px 5px #bbbbbb;
     color: #fff;
     font-size: 17px;
     background: #673AB7;
     border: 1px solid #673AB7;
     padding: 10px 20px;
}
 .fixedbtn button{
     transform: rotate(-90deg);
     background: #fff;
     box-shadow: 0 22px 79px 0 rgba(0,0,0,.11);
     width: 166px;
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 5px 5px 0 0;
}
 ul.pbarcowp_nav_bar {
     margin-top: 8px;
     display: flex;
     float: right;
}
 ul.pbarcowp_nav_bar li {
     border-right: 1px solid transparent;
}
 ul.pbarcowp_nav_bar li a {
     padding: 2px 5px;
     color: #000;
}
 .pbarcowp_admin img {
     width: 75px;
     padding-top: 20px;
}
 ul.pbarcowp_nav_bar li:last-child {
     border-right: none;
}
 ul.pbarcowp_nav_bar li a:hover {
     opacity: 0.7;
}
 .pbarcowp_admin img {
     padding-top: 20px;
     padding-left: 2%;
}
 .whstphone {
     display: none;
}
 button.qrc_image_button.button.button-primary {
     margin-top: 10px;
}
 .qrc_widget_class label {
     display: inline-block;
     padding-bottom: 10px;
}
 #foo {
     width: 200px;
}
 button.button.button-primary.tesx_right {
     float: right;
     display: block;
     margin-right: 2%;
}
 .qrc_label {
     font-weight: 600 
}
 p.qr_st_val {
     margin: 0;
     padding-top: 20px;
}
 .qr_st_val, .qrc_margin {
     margin-left: 20px 
}
 .qrc_description.qrc_block {
     display: inline-block;
     width: 300px;
}
 p.qrc_description {
     word-spacing: 3px;
     color: #000;
     padding: 3px 5px;
     width: auto;
     background: #cecece;
     display: inline-block;
}
 button.qrc_clip_btn {
     color: #fff;
     font-weight: 500;
     cursor: pointer;
     background: #4CAF50;
     border: 1px solid #4CAF50;
     padding: 5px 16px;
     box-shadow: 1px 1px 3px 1px #4CAF50;
}
 tr.qr_prev_manag .qrc_prev_manage {
     position: absolute;
     right: 10%;
     bottom: 20%;
}
 tr.qr_prev_manag_gh .qrc_prev_manage {
     position: absolute;
     right: 10%;
     top: 22%;
}
 tr.qr_prev_manag th, tr.qr_prev_manag_gh th {
     display: none;
}
 @media (max-width:1010px) and (min-width:783px) {
     tr.qr_prev_manag .qrc_prev_manage {
         right: 0%;
         top: 24%;
    }
}
 @media (max-width:782px) {
     tr.qr_prev_manag .qrc_prev_manage, tr.qr_prev_manag_gh .qrc_prev_manage {
         position: static;
    }
     tr.qr_prev_manag th, tr.qr_prev_manag_gh th {
         display: inline-block;
    }
     #upload_image_button {
         margin-top: 10px 
    }
     p.qrc_description.qrc_margin {
         margin-left: 0px;
    }
     .p.qrc_description, .qrc_description.qrc_block {
         display: block !important 
    }
}
 span.qr_title_print {
     font-size: medium;
     height: 0px;
     text-align: center;
     bottom: 0;
     position: absolute;
     z-index: 1;
     width: 100%;
     left: 0;
     font-weight: 600;
}
 .qr_print_wrapepr {
     background: #fff 
}
 a.pro-tav.nav-tab.nav-tab-active {
     color: #673AB7;
     background: #fff;
}
 input.qr_print_button {
     cursor: pointer;
     color: #fff;
     width: 100;
     background: #673AB7;
     border: 1px solid #673AB7;
     font-weight: 600;
     font-size: 16px;
     padding: 10px 20px;
     margin-top: 20px;
}
 div#content {
     margin-top: 20px;
     padding-top: 19px;
     padding-left: 15px;
}
 span.qr_title_print_wrapper {
     position: relative;
     display: inline-block;
}
 input.pbrapple-switch {
     position: relative;
     -webkit-appearance: none;
     outline: none;
     width: 62px;
     height: 23px;
     background: #fff;
     border: 1px solid #636363;
     border-radius: 50px;
     box-shadow: inset -20px 0 0 0 #fff;
     transition: all 0.2s ease;
}
 .uqr_code_btn {
     border: 1px solid transparent;
}
 label.qrc_dwnbtnlabel {
     margin-right: 8px;
     margin-left: 20px;
}
 p.qrc_dwnbtn {
     padding-top: 27px;
}
 input.pbrapple-switch {
     position: relative;
     -webkit-appearance: none;
     outline: none;
     width: 34px;
     height: 16px;
     background: #aaa;
     border-radius: 50px;
     box-shadow: inset -20px 0 0 0 #aaa;
}
 input.pbrapple-switch:hover{
     box-shadow: 0 0 0 5px #f2f2f2;
}
 input.pbrapple-switch:focus,input.pbrapple-switch:active{
     box-shadow: 0 0 0 5px #f2f2f2;
     border-color:transparent;
     outline: none;
}
 input.pbrapple-switch:after{
     content: " ";
     width: 14px;
     height: 14px;
     position: absolute;
     top: 0px;
     left: 1px;
     border-radius: 16px;
     background-color: #fff;
     transition:all .2s linear;
}
 input.pbrapple-switch:checked:after{
     transform: translateX(17px);
}
 input.pbrapple-switch:focus:checked,input.pbrapple-switch:active:checked{
     box-shadow: 0 0 0 5px #d1eaf4;
}
tr.barcode_print_css_labess th, tr.barcode_print_css_labe th {
    font-size: 20px !important;
}
div#pbrtab-content th {
    min-width: 300px;
    font-size: 15px;
}
tr.barcode_print_css_labess th, tr.barcode_print_css_labe th {
    //border-top: 2px solid #ddd;
    width: 100%;
    position: absolute;
}
div#pbrorderbatcon {
    padding-left: 30px;
    background: #fff;
}
tr.barcode_print_css_labess, tr.barcode_print_css_labe {
    position: relative;
    width: 100%;
    height: 135px;
}
 input.pbrapple-switch:checked:before{
     content:'';
}
 input.pbrapple-switch:checked {
     box-shadow: inset 22px 0 0 0 #17a8e3;
     background: #17a8e3;
}
a.qrc_gtnow {
    background: #2196F3;
    display: inline-block;
    text-decoration: none;
    color: #ffffff !important;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin: 17px 20px;
}
.qrc_pro_ftcs_cont {
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid 1px solid #dcd3eb;
}
.pro_ftcs__h {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #adadad;
    text-align: center;
    padding: 0%4%4%4%;
}
.qrc_pro_ftcs_cont p {
    font-size: 14px;
    padding: 0 10px;
}
.qrc_wrap-md-5.lksfuieusb img {
    width: 88%;
}
.barcodesubmits {
    margin-top: 10%;
}
a.oreremils {
    display: inline-block;
    vertical-align: middle;
}
a#pbr-prints,a#pbr-downl {
    vertical-align: text-top;
    margin: 0 10px;
}
 label#qr-label-wrap {
     position: relative;
     top: -16px;
     padding-left: 10px;
}
 #pbarcode_generator_metabox .inside {
     position: relative;
}
 #pbarcode_generator_metabox .inside select, .inside label.checkbox_qr_3 {
     position: relative;
     top: -30px;
}
 #pbarcode_generator_metabox .inside select {
     font-weight: 700;
     padding: 3px 24px;
     margin-left: 14px;
     border: 1px solid #23282d;
}
 @media(max-width:782px) {
     .qrc_prev_manage img#qr_preview {
         width: 100px;
         height: 100px;
    }
}
 .qrc_prev_manage h3 {
     letter-spacing: 7px;
     text-transform: uppercase;
     padding-bottom: 10px;
     margin: 0;
}
 .qrc_widget_class label {
     font-weight: 600;
}
 .qrc_widget_class .wp-picker-container {
     margin-top: 10px;
}
 input.button.button-small.wp-picker-clear {
     margin-left: 5px;
     padding: 1.3px 8px;
}
 .qrc_widget_class {
     margin: 15px 0;
}
 .srtcode {
     display: inline-block;
     background: #fff;
}
 a#save_but {
     top: -29px;
     cursor: pointer;
     position: relative;
     padding: 10px;
}
 tr.qr_table_row {
     padding: 10px !important;
     background: white;
}
 tr.qr_table_row td {
     text-align: center;
     padding: 10px;
     font-weight: 600;
}
 .save_but_info {
     min-width: 100px;
     cursor: pointer;
     padding: 10px;
     background: #673AB7;
     color: #fff;
     border: 1px solid #673AB7;
     transition: all 0.3s ease;
}
 table.qr_table_info th {
     padding: 10px;
     background: #fff;
}
 td.qr_table_qr {
     min-width: 300px;
}
 .save_but_info:hover {
     color: #673AB7;
     background: transparent;
}
 tr.qr_table_row td {
     padding: 10px;
}
 p.qr_admin_pagination {
     text-align: center;
     margin-top: 30px;
}
 a.qr_admin_next, a.qr_admin_prev {
     display: inline-block;
     text-decoration: none;
     background: #FF5722;
     color: #fff;
     padding: 10px;
     margin: 0 20px;
     font-weight: 600;
}
 @media print {
     body {
         margin: 0;
         color: #000;
         background-color: #fff;
    }
     #content {
         background: #fff 
    }
}
 @media screen {
     #content {
         background: #fff 
    }
}
 span.qr_price_print {
     width: 100%;
     text-align: center;
}
 @media(max-width:480px) {
     .pbarcowp_admin {
         width: 100%;
         position: static;
    }
     ul.pbarcowp_hdaer_cnt {
         display: block;
         padding: 0;
         margin: 0;
    }
     .pbarcowp_hdaer_cnt li {
         display: block;
         text-align: center;
    }
}
 @media screen and (max-width:1282px) {
     ul.br_per_page {
         display: block;
    }
     span#pbarcode_inlinestro {
         margin-left: 0px;
    }
     li#frntsizeprit {
         margin-left: 0 !important;
    }
     ul.br_per_page li {
         width: auto;
    }
     label.prbaclabel {
         margin-left: 0px;
         padding-right: 0px;
    }
     span#bar-txtmargin-display, span#bar-label-display {
         top: 0;
         margin-right: 0;
         text-align: left;
    }
}
 @media screen and (max-width:844px) {
     tr.parcode_prev_manag td {
         position: static;
    }
     ul.pbarcowp_hdaer_cnt {
         width: 100% 
    }
}
 @media screen and (max-width:790px) {
     ul.pbarcowp_nav_bar {
         float: left;
    }
     li.qrc_fd_cnt {
         margin-top: 14px;
    }
     .qrc_fd_cnt h3 {
         font-size: 136% !important;
    }
     tr.parcode_prev_manag {
         position: static;
         top: 0;
         right: 0;
    }
     tr.parcode_prev_manag td {
         position: static;
    }
     tr.parcode_hidemobi th {
         display: none 
    }
     span#bar-txtmargin-display, span#bar-label-display {
         top: 0;
         margin-right: 0;
    }
     ul.br_per_page {
         display: block;
    }
     span#pbarcode_inlinestro {
         margin-left: 0px;
    }
     li#frntsizeprit {
         margin-left: 0 !important;
    }
     ul.br_per_page li {
         min-width: 100px 
    }
     .pbarcowp_hdaer_Wrap_box {
         padding: 20px 5px;
    }
     p.Rgtddfdfd {
         width: 100%;
    }
}
 .rangeslider, .rangeslider__fill {
     background: #e6e6e6;
     display: block;
     height: 10px;
     width: 100%;
     -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
     box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     border-radius: 5px;
}
 .rangeslider {
     position: relative;
     margin-top:12px;
     max-width: 225px;
}
 .rangeslider--disabled {
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
     opacity: 0.4;
}
 .rangeslider__fill {
     background: #3BB2D6;
     position: absolute;
     top: 0;
}
 .rangeslider__handle {
     background: white;
     border: 1px solid #ccc;
     cursor: pointer;
     display: inline-block;
     width: 20px;
     height: 20px;
     position: absolute;
     top: -5px;
     background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
     background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
     background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
     background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
     background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
     -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
     box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     border-radius: 50%;
}
 .rangeslider__handle:after {
     content: "";
     display: block;
     width: 9px;
     height: 9px;
     margin: auto;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
     background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
     background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
     background-image: -o-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
     background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     border-radius: 50%;
}
 .rangeslider__handle:active {
     background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
     background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
     background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
     background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
     background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}
 input[type="range"]:focus + .rangeslider .rangeslider__handle {
     -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
     -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
     box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
 .cp-color-picker {
     z-index:999 !important 
}
li.qrc_pro-colum img {
    max-width: 100%;
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
    .col-md-6 {
    width: 46%;
  }
}
@media(max-width:768px) {
     .videopopupjs__content {
         max-width: 90% !important 
    }
	  .col-md-6 {
    width: 100%;
  }
.comwrapers,ul#pbrtabs-nav {
    display: block;
}
	.com-md-8,.com-md-4,.com-md-4.lksfuieusb {
    max-width: 100%;
	}
	
	.com-md-4.lksfuieusb img {
    max-width: 97%;
}
	
	div#pbrtab-content {
    padding: 0;
}
	ul#pbrtabs-nav li {
    line-height: 3;
}
	ul#pbrtabs-nav li:first-child {
    padding-left: 15px;
}
}